@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Open+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-container {
    @apply max-w-[940px] m-auto;
  }
  .footer-container {
    @apply max-w-[940px] m-auto;
  }
  /* ... */
}

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 2;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .masonry-1-col {
      column-count: 1;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
*:focus {outline:none}
.input-error {
  @apply text-red-500 border-red-500 rounded-md;
}

.btn {
  @apply px-2 py-1 font-bold bg-[#ebfbee] rounded-md text-[#46dd66] dark:bg-[#1c2c26] text-[#46dd66]
}

.btn_active {
  @apply px-2 py-1 font-bold bg-[#1c2c26] rounded-md text-[#46dd66] dark:bg-[#84ceb356] text-[#46dd66]
}

.containerBorder {
  border-width: 1px;
  border-style: solid;
 border-radius: 15px;
 @apply dark:bg-[#1f1f1f] bg-white 
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.Nav_active {
  font-weight: bold;
  color: #46dd66;
}
.Nav {
  font-weight: bold;
}
/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
.btn:hover, .btn_active:hover {
  transform: translateY(-0.2em);
  opacity: 0.8;
}
.btn, .btn_active {
  transition: all 0.2s ease-in-out;
}
.form-control {
  margin-bottom: 2em;
  width: 100%;
}

button:disabled {
  opacity: 0.35;
}
.form-input {
  @apply block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-offset-gray-100 focus:border-green-700 sm:text-sm;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin: 1em; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 10px;
    padding-right: 10px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 30px; /* space between items */
  }
}

.input_field {
  @apply border border-[2px] p-2 rounded-md w-full;
}

body {
  font-family: "Open Sans", "Poppins", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
